<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Craffic.myshop.jersey.dao.TbUserDao">
    <sql id="TbUserColumns">
        u.id,
        u.username,
        u.password,
        u.phone,
        u.email,
        u.created,
        u.updated
    </sql>

    <select id="selectById" resultType="com.Craffic.myshop.jersey.domain.model.TbUser">
      SELECT * FROM TB_USER T WHERE T.ID = #{id}
    </select>

    <select id="countUser" resultType="java.lang.Integer">
      SELECT count (1) FROM TB_USER
    </select>

    <select id="getUserList" resultType="com.Craffic.myshop.jersey.domain.vo.TbUserVo">
      SELECT
        <include refid="TbUserColumns" />
       FROM TB_USER U
    </select>

    <insert id="insertTbUser" parameterType="com.Craffic.myshop.jersey.domain.model.TbUser">
        INSERT INTO TB_USER
            (id, username, password, phone, email, created, updated)
        VALUES
            (SYS_GUID(), #{userName}, #{password,jdbcType=VARCHAR}, #{phone}, #{email}, sysdate, sysdate)

    </insert>
</mapper>